<launch>
    <param name="robot_description" textfile="$(find bender_rviz)/urdf/pioneer3at.urdf" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find bender_rviz)/launch/stages/my_map.yaml"/>

    <arg name="publish_period" value="100"/>
    <node name="stage_tf_base_remapper" pkg="tf" type="static_transform_publisher"
   args="0 0 0 0 0 0 /base_link /bender/base_link $(arg publish_period)" ns="/map"/>

	<!-- /bender/odom  - - - > /odom -->
	<node name="stage_tf_odom_remapper" pkg="tf" type="static_transform_publisher"
   args="0 0 0 0 0 0 /odom /bender/odom $(arg publish_period)" ns="/map"/>

</launch>
